body { 
  background: #222;
  color: #ddd;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-language-override: normal;
  font-size: 21px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: 300;
  line-height: normal;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

a {
  color: #156cc2;
  text-decoration: none;
}
a:hover {
  color: #004c92;
}

